fastapi
fastapi_mail
uvicorn[standard]
sqlalchemy[asyncio]
pydantic
pydantic-settings
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-dotenv
jinja2
aiomysql
python-multipart
pandas==2.2.2
openpyxl==3.1.2
python-dotenv==1.0.0
aiomysql==0.2.0
gunicorn
pydantic[email]
user-agents
httpx
apscheduler
python-docx
requests
PyMuPDF
pillow
xlrd
docx2pdf
spire-doc
xlsxwriter
pdfplumber